= form_for(@shopping_list_item, url: shopping_list_shopping_list_items_path(@shopping_list_item.shopping_list_id)) do |f|
  - if @shopping_list_item.errors.any?
    #error_explanation
      h2
        = pluralize(@shopping_list_item.errors.count, "error")
        |  prohibited this product from being saved:
      ul
        - @shopping_list_item.errors.full_messages.each do |message|
          li
            = message
  .field
    = f.label :product_id
    br
    = f.collection_select :product_id, current_user.products, :id, :title
  .field
    = f.label :required
    br
    = f.text_field :required
  .field
    = f.label :unit_id
    br
    = f.collection_select :unit_id, Unit.all, :id, :title
  .field
    = f.label :done
    br
    = f.check_box :done
  .actions
    = f.submit
