defaults: &defaults
  trello:
    key:
    secret:

  facebook:
    key:
    secret:

  vkontakte:
    key:
    secret:

development:
  <<: *defaults

production:
  <<: *defaults

test:
  <<: *defaults
